.dataTables_filter input,
.dataTables_length select {
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    height: 25px;
}

div.dataTables_filter {
    float: left !important;
}

div.dataTables_length {
    float: right !important;
}


/* Em função da versão mais atual do datatables utilizar row and cols para exibir as colunas */
.dataTables_wrapper > .row > .col-md-6:nth-of-type(1) {
    order: 2;
}
.dataTables_wrapper > .row > .col-md-6:nth-of-type(2) {
    order: 1;
}


/* .display-buttons {
    position: relative;
    float: right !important;
} */
/* .dataTables_info {
} */


.truncate {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.table_lines {
    cursor: pointer;
}

/* .display-buttons > dt-buttons */
/* btn-group */

.dt-buttons {
    margin-bottom: 20px !important;
}

.dt-button {
    color: #fff !important;
    background: #48606b linear-gradient(180deg, #637881, #48606b) repeat-x !important;
    border-color: #48606b !important;
    border-radius: 5px !important;
}

.dt-button:hover {
    color: #fff !important;
    background: #394b54 linear-gradient(180deg, #57666e, #394b54) repeat-x !important;
    border-color: #33454d !important;
}

/* .buttons-columnVisibility ~ .active:hover {
    color: #fff !important;
    background: #0060b3 linear-gradient(180deg, #2678be, #0060b3) repeat-x !important;
    border-color: #0059a6 !important;
}

.buttons-columnVisibility ~.active {
    color: #fff !important;
    background: #0060b3 linear-gradient(180deg, #2678be, #0060b3) repeat-x !important;
    border-color: #0059a6 !important;
}

.buttons-columnVisibility:not(.active) {
    color: #fff !important;
    background: #d2322d linear-gradient(180deg, #d9514d, #d2322d) repeat-x !important;
    border-color: #d2322d !important;
} */


.dropdown-menu {
    padding: 8px 8px 4px 8px;
    border: 1px solid rgba(0,0,0,0.4);
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
}


/* div[role=menu] */

[data-cv-idx="0"] {
    margin-bottom: 3px !important;
}

.dt-button ~.dropdown-item {
    margin-bottom: 3px !important;
}


/* [data-cv-idx="0"], .buttons-columnVisibility ~.dt-button-active {
    color: #fff !important;
    background: #0060b3 linear-gradient(180deg, #2678be, #0060b3) repeat-x !important;
    border-color: #0059a6 !important;
} */

.buttons-columnVisibility ~.dt-button-active {
    color: #fff !important;
    background: #0060b3 linear-gradient(180deg, #2678be, #0060b3) repeat-x !important;
    border-color: #0059a6 !important;
}

table td.resizing {
    cursor: col-resize;
}

table.dataTable > tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(82, 115, 129, 0.9) !important;
}