#notices-badge, #notices-badge-sm {
    display: inline-block;
}

#notices-badge .fa-stack[data-count]:after, 
#notices-badge-sm .fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 60%;
  padding: .6em;
  border-radius: 50%;
  line-height: .8em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}
